:root {
	--text: #3D550C;
	--orange: #c7ca19d0;
	--secondary: #4b9595;
	--header-bg: #81B622;
	--header-bg-opacity: #81B622c;
	--shadow: 2px 5px 10px #000;
}
* {
  box-sizing: border-box;
}

html {
	height: 100%;
	background-color: var(--background);
}

body {
  margin: 0;
}

.App {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	width: 100%;
  padding: 3em 0;
	margin-bottom: 5em;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background-color: var(--header-bg);
}

main {
  margin-left: auto;
  max-width: 1440px;
  margin-right: auto;
}

nav {
	display: flex;
	justify-content: center;;
	background-color: var(--header-bg-opacity);
	z-index: 2;
}

a {
	color: var(--text);
}

nav a {
	margin: 1em;
	font-weight: 600;
	text-decoration: none;
  font-size: 24px;
}

a:hover:not(button a) {
	text-decoration: underline;
}

main {
	margin-bottom: 10em;
}

.error-message {
  color: red;
}

img {
	width: 17em;
	justify-self: center;
	align-self: center;
	overflow: hidden;
	max-height: 15em;
  overflow: hidden;
	object-fit: cover;
	object-position: center;
}

.start-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-item {
  width: 100%;
}

.item-2 {
  padding-top: 1em;
}

.hamster-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.hamster-card {
  flex: 0 0 23%;
  padding: 0 1%;
  margin-bottom: 25px;
}

.hamster-card > img {
  height: 200px;
  width: 100%;
}

.hamster-group > article > dl {
  text-align: left;
}

.hamster-group > article > dl > dt {
  font-weight: bold;
}

.hamster-group > article > dl > dd {
  margin-left: 0;
}

.hamster-form {
  display: flex;
  justify-content: center;
}

.hamster-info {
  opacity: 0;
  height: 0;
  transition: opacity 200ms ease-in, height 200ms ease-in;
}

.hamster-card:hover .hamster-info {
  opacity: 1;
  height: 100%;
}

.add-hamster-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}


